#page-header .description {
    margin-top: 0.15em;
}

.cards .card h1 strong {
    text-decoration: underline;
}

.cards .card table {
    margin-bottom: 0.5em;
}

#legend .icon {
    padding-right: 0;
    border-right: none;
    font-weight: normal;
}

#legend #legend_why-im-excited .icon span {
    font-size: 1.2em;
    background-image: url("https://non-free.hexstream.dev/global.hexstream.dev/images/lightning-bolt_shaded.svg");
    background-repeat: no-repeat;
    background-position: top 0.2em center;
    color: transparent;
}

#legend #legend_current-status .icon {
    font-size: 1.2em;
}

#legend .title {
    border-left: none;
    padding-left: 0.25em;
}
