@media (max-width: 60em) {
    br.if-wide {
        display: none;
    }
}

@media (max-width: 60em), (min-width: 79em) {
    br.unless-very-wide {
        display: none;
    }
}


#a-word-of-thanks_3 > .tabs {
    align-items: center;
}

#a-word-of-thanks_3 > .tabs > :nth-child(2) {
    max-width: 50em;
}
